body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-primary-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}

.hero-primary-button:hover {
    background-color: #404bbf;
}

.hero-primary-button:focus {
    background-color: #404bbf;
}

.features {}

.features-list {
}

.features-items {
}


.visually-hidden {
    white-space: nowrap;
    overflow: hidden;
}

.features-subtitles {

}

.features-item-text {

}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-paragraf{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background: #f4f4fd;
}

.team-title {
    text-transform: capitalize
}

.team-list {
}

.team-item {
    background-color: #FFFFFF
}

.team-subtitle {
}

.team-item-text {
}

.team-image {
}

.portfolio {
}

.portfolio-title {
    text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-image {
}

.portfolio-subtitle {
}

.portfolio-item-text {
}

.footer {
    background-color: #2e2f42;
}

.foter-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}